/* 1연결 선택자 */
.body1 {
    background-color: #eee;
}

.section1 {
    width: 600px;
    margin: 20px auto;
}

.p1 {
    width: 500px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    line-height: 2;
}

.section1 p {
    /* section 요소의 모든 하위 p 요소에 적용 */
    color: blue;
    /* 글자색을 파란색으로 */
}

/* 2.속성선택자 */
.ul2 {
    list-style: none;
}

.li2 {
    display: inline-block;
    margin: 10px;
}

.li2 a {
    padding: 5px 20px;
    font-size: 14px;
    color: blue;
    text-decoration: none;
}

.flat2 {
    background: #eee;
    border: 1px solid #222;
}

.li2 a[class~="button"] {
    box-shadow: rgba(0, 0, 0, 0.5) 4px 4px;
    /* 그림자 지정 */
    border-radius: 5px;
    /* 테두리를 둥글게 */
    border: 1px solid #222;
}

/* 3. 가상 클래스와 가상 요소 */
.container3 {
    width: 960px;
    margin: 0 auto;
}

.navi3 {
    width: 960px;
    height: 60px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}

.navi3 ul {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 5px;
}

.navi3 ul li {
    float: left;
    width: 150px;
    padding: 10px;
}

.navi3 a:link,
.navi a:visited {
    display: block;
    font-size: 14px;
    color: #000;
    padding: 10px;
    text-decoration: none;
    /* 밑줄 없앰 */
    text-align: center;
}

.navi3 a:hover,
.navi a:focus {
    background-color: #222;
    /* 배경 색 */
    color: #fff;
    /* 글자 색 */
}

.navi3 a:active {
    background-color: #f00;
    /* 배경 색 */
}